@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* transformation, genaral settings, padding and margin */
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 0px;
    padding-right: 0px;
}

.container-booknow {
    height: 40vh;
    background-color: #ADD8E6;
}

.inline-block {
    display: inline-block;
}

.margin25px {
    margin-left: 25px;
}

/* backgrounds */
.bg{
    background-color: #efefef;
}

.canada-photo {
  background: url("/assets/images/canada-photo-fixed.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;    
}

.netherlands-photo {
  background: url("/assets/images/amsterdam-photo.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;    
}

.italy-photo {
  background: url("/assets/images/rome-photo-fixed.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;    
}

.bg-about {
    background: url("/assets/images/canada-photo-card.jpg") no-repeat fixed;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
}

/* navbar */
.navbar .navbar-toggler {
    border: 0;
}

/* buttons */
#button-book {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    width: 150px;
}

/* fonts */

    /* font title modal form */
    #BookModalLabel {
        font-weight: 600;
        font-size: 1.85rem;
    }

/* footer */
footer .footer-general {
     background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 20px;
}

footer a {
    color:#D3D3D3;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    margin: 0px 0px 8px;
}

footer a:hover {
    color: #87cefa;
    text-decoration: none;
}

/* carousel */
.jumbotron-gen {
    position: static;
    padding: 3vh 3vw;
    height: 75vh;
    width: 100%;
    block-size: cover;
}

/* jumbotron inside carousel*/
.style-jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0px;
    padding: 5vh 2vw;
    height: 60vh;
}

.p-font-slider {
    font-size: 1.2rem;
}

/*book now section*/
.booknow-style{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    word-wrap: break-word;
    padding-top: 15vh;
}

.booknow-style a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*card styling*/
.card-style {
    margin: 2vh 2vw 8vh;
}

.header-cards {
    text-align: center;
    margin: 10vh 0 3vh;
}

/* about-us page */

.header-about-us {
    text-align: center;
}

.bg-jumbotron {
    background-color: #ffffff;
}

